*
!*.pdf
!*.bat
!*.py
!*.clp
!*.txt
!*.png
!*.jpeg
!*.markdown
!clips.html
!404.html
!/static
!/doc/_config.yml
!/doc/_posts/
!/templates/
!/_posts/
!/_data/
!/_layouts/
!/_config.yml/
!/doc/_data/
!/doc/*.markdown
!/clps/
!/alectrico-2021/
!/nota/
